# Jira
JIRA_URL=https://FILL_ME.atlassian.net
JIRA_TOKEN=FILL_ME
JIRA_EMAIL=FILL_ME@example.com

# Confluence
CONFLUENCE_URL=https://FILL_ME.atlassian.net/wiki
CONFLUENCE_TOKEN=FILL_ME
CONFLUENCE_EMAIL=FILL_ME@example.com

# Page hierarchy
CONFLUENCE_SPACE=FILL_ME
CONFLUENCE_PARENT_PAGE_ID=FILL_ME
